examples/test-knowledge.yaml
app:
  name: "知识库节点测试"
  description: "测试knowledge-retrieval节点渲染"
  icon: "📚"
  icon_type: emoji
  icon_background: "#D1E9FF"
  mode: advanced-chat
  use_icon_as_answer_icon: false
kind: app
version: "0.6.0"
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: edge-1
        source: "start_1"
        sourceHandle: source
        target: "kb_1"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: knowledge-retrieval
          targetType: llm
        id: edge-2
        source: "kb_1"
        sourceHandle: source
        target: "llm_1"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-3
        source: "llm_1"
        sourceHandle: source
        target: "answer_1"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          title: "Start"
          type: start
          variables: []
        height: 54
        id: "start_1"
        position: { x: 80, y: 300 }
        positionAbsolute: { x: 80, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "Knowledge Search"
          type: knowledge-retrieval
          dataset_ids:
            - "dataset-placeholder"
          query_variable_selector: ["sys", "query"]
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 3
            reranking_enable: false
            score_threshold_enabled: false
            score_threshold: 0
          metadata_filtering_mode: disabled
        height: 98
        id: "kb_1"
        position: { x: 380, y: 300 }
        positionAbsolute: { x: 380, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "Answer with KB"
          type: llm
          model:
            provider: langgenius/tongyi/tongyi
            name: qwen-turbo-latest
            mode: chat
            completion_params:
              temperature: 0.7
          prompt_template:
            - id: p1
              role: system
              text: "根据以下知识库内容回答用户问题：\n{{#kb_1.result#}}"
            - id: p2
              role: user
              text: "{{#sys.query#}}"
          context:
            enabled: true
            variable_selector: ["kb_1", "result"]
          variables: []
          vision:
            enabled: false
        height: 98
        id: "llm_1"
        position: { x: 680, y: 300 }
        positionAbsolute: { x: 680, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "Answer"
          type: answer
          answer: "{{#llm_1.text#}}"
          variables: []
        id: "answer_1"
        position: { x: 980, y: 300 }
        positionAbsolute: { x: 980, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport: { x: 50, y: 200, zoom: 0.8 }
